# Banco de dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=*********
DB_NAME=postgres

# Pipeline
PIPELINE_MODE=batch          # batch | streaming
BATCH_INTERVAL_SECONDS=30
NUM_MOTORS=5                 # Quantidade de motores simulados

# Logs
LOG_LEVEL=INFO               # DEBUG | INFO | WARNING | ERROR